{{#if showLandingPage}}

<div class="fuse-demo">

  <!-- Banner -->
  <div class="banner">

  </div>

  <!-- Info -->
  <div class="info">
    <div class="header">
      Welcome to the discussion platform
    </div>

    <div class="info-section-1">
      <div class="section-description-1">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facere, ea perferendis consectetur a quam enim suscipit provident quaerat nesciunt laborum? Perferendis quisquam adipisci placeat doloribus praesentium quis culpa error?
        </p>
      </div>
      <div class="image-1 section-image">

      </div>
    </div>

    <div class="info-section-2">
      <div class="image-2 section-image">

      </div>
      <div class="section-description-2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facere, ea perferendis consectetur a quam enim suscipit provident quaerat nesciunt laborum? Perferendis quisquam adipisci placeat doloribus praesentium quis culpa error?
        </p>
      </div>
    </div>
  </div>

  <!-- Countdown -->
  <div class="countdown">
    <div class="header">
      Not long now
    </div>

    <div class="clock-wrapper">
      <div class="days-wrapper">
        <div class="time">
          {{countdownDays}}
        </div>
        <div class="desc">
          {{countdownDaysText}}
        </div>
      </div>

      <div class="hours-wrapper">
        <div class="time">
          {{countdownHours}}
        </div>
        <div class="desc">
          {{countdownHoursText}}
        </div>
      </div>

      <div class="minutes-wrapper">
        <div class="time">
          {{countdownMinutes}}
        </div>
        <div class="desc">
          {{countdownMinutesText}}
        </div>
      </div>

      <div class="seconds-wrapper">
        <div class="time">
          {{countdownSeconds}}
        </div>
        <div class="desc">
          {{countdownSecondsText}}
        </div>
      </div>
    </div>
  </div>

  <!-- Schedule - live -->
  <div class="live-events">
    <div class="header"> Live Events </div>

    <div class="live-events-wrapper" href="/t/demo-topic-number-1">
      <a class="event">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
      <a class="event" href="/t/demo-topic-number-2">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
      <a class="event" href="/t/demo-topic-number-3">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
    </div>
  </div>

  <!-- Schedule - all -->
  <div class="schedule-events">
    <div class="header">
      Schedule
    </div>

    <div class="schedule-events-wrapper">
      <a class="event" href="/t/demo-topic-number-1">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
      <a class="event" href="/t/demo-topic-number-2">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
      <a class="event" href="/t/demo-topic-number-3">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
      <a class="event" href="/t/demo-topic-number-4">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
      <a class="event" href="/t/demo-topic-number-5">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
      <a class="event" href="/t/demo-topic-number-6">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
      <a class="event" href="/t/demo-topic-number-7">
        <div class="event-title">Lorem ipsum dolor sit amet</div>
        <div class="event-experts">
          <div>Joe Mustermann</div>
          <div>Diana Musterfrau</div>
        </div>
        <div class="event-time">
          20:00
        </div>
      </a>
    </div>
  </div>
</div>
{{/if}}
